doctype html
html
  include includes/head.pug
  body
    main(id='main')
      h1 Today's Hidden Gems 💎
      p(class='intro')
        | Thanks again for trying unearth. Your continued support does not go without notice!
        |
        | Anyways, here are some hidden gems you have saved in the past:
      if things.length === 0
        p Looks like you're all caught up, nice work! 🎉
      else
        each thing in things
          div(class='thing')
            p(class='subreddit') #{thing.subreddit_name_prefixed}
            p(class='title-link')
              a(href=thing.url) #{thing.title}
